body{
    background-color: rgb(120, 134, 134);
    padding-left: 100px;
    padding-top: 60px;
    justify-content: center;
}

.form2 {
  font-family: "Inter", sans-serif;
  width: 250px;
  height: max-content;
  color: #000;
  padding: 44px 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form2 form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.form2 span {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.form2 form input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}
.form2 .inputBox {
  position: relative;
  width: 90%;
  color: rgb(176, 181, 190);
  margin-left: -15px;
}
.form2 .inputBox label {
  position: absolute;
  top: -22px;
  left: 0;
  cursor: text;
  font-size: 14px;
  background-color: #f5f5f5;
  padding: 10px 2px 0;
}
.form2 form .bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 22px;
}
.form2 form .bottom-section .inputBox:nth-child(1) {
  margin-right: 30px;
}
.form2 form .bottom-section .inputBox input {
  width: 85%;
}
.form2 form button {
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border: none;
  color: #fff;
  border: 2px solid transparent;
  background-color: #000;
}
.form2 form input:focus {
  box-shadow: none;
  border-color: #000;
}
.form2 form button:active {
  scale: 0.95;
}
.form2 form button:hover {
  color: #000;
  border: 2px solid #000;
  background-color: transparent;
}
.form2 input[type="number"]::-webkit-inner-spin-button,
.form2 input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
